flows.json
[{"id":"3827b8c0.6c5468","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"835c836a.a97e5","type":"debug","z":"3827b8c0.6c5468","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":360,"wires":[]},{"id":"6bd39a11.a97364","type":"ui_switch","z":"3827b8c0.6c5468","name":"","label":"Lempa","tooltip":"","group":"6fad4b20.2c9d54","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":190,"y":620,"wires":[["d64f7e68.4f7d1","c251eec.33cd71"]]},{"id":"61d85913.4c9008","type":"debug","z":"3827b8c0.6c5468","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":680,"wires":[]},{"id":"5dc6b16f.b1ba4","type":"debug","z":"3827b8c0.6c5468","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":420,"wires":[]},{"id":"c251eec.33cd71","type":"function","z":"3827b8c0.6c5468","name":"","func":"msg.payload = \"SELECT * FROM public.\\\"Daiktai\\\";\";\nmsg.connectName = 'ec2-54-247-107-109.eu-west-1.compute.amazonaws.com';  // connect name from settings.js\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":580,"wires":[["30a74449.c8197c"]]},{"id":"a18866e.2b6c898","type":"debug","z":"3827b8c0.6c5468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":580,"wires":[]},{"id":"1259ceee.36e6f1","type":"http in","z":"3827b8c0.6c5468","name":"","url":"/hello","method":"get","swaggerDoc":"","x":420,"y":180,"wires":[["1b754698.cfd4d9"]]},{"id":"1b754698.cfd4d9","type":"template","z":"3827b8c0.6c5468","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","x":570,"y":180,"wires":[["ea021bc6.732c38"]]},{"id":"ea021bc6.732c38","type":"http response","z":"3827b8c0.6c5468","name":"","statusCode":"","headers":{},"x":710,"y":180,"wires":[]},{"id":"e0058b77.94eff8","type":"modbus-read","z":"3827b8c0.6c5468","name":"ModbusRead","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"5e221acd.2b22a4","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":190,"y":360,"wires":[["835c836a.a97e5"],[]]},{"id":"8b995d03.999cd","type":"modbus-read","z":"3827b8c0.6c5468","name":"GautiWord","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"1","quantity":"1","rate":"10","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"5e221acd.2b22a4","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":180,"y":420,"wires":[["5dc6b16f.b1ba4"],[]]},{"id":"d64f7e68.4f7d1","type":"modbus-write","z":"3827b8c0.6c5468","name":"ModbusInput","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"Coil","adr":"32768","quantity":"1","server":"59d1608.3b7e1a","emptyMsgOnFail":false,"keepMsgProperties":false,"x":370,"y":660,"wires":[["61d85913.4c9008"],[]]},{"id":"30a74449.c8197c","type":"postgres","z":"3827b8c0.6c5468","postgresdb":"8f0d00f.e19e7","name":"postgres","output":true,"outputs":1,"x":540,"y":580,"wires":[["a18866e.2b6c898"]]},{"id":"6fad4b20.2c9d54","type":"ui_group","name":"Basic","tab":"8df0a234.f54d4","order":1,"disp":true,"width":"6","collapse":false},{"id":"59d1608.3b7e1a","type":"modbus-client","z":"3827b8c0.6c5468","name":"Valdiklis 11","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"193.219.33.190","tcpPort":"511","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"8f0d00f.e19e7","type":"postgresdb","z":"3827b8c0.6c5468","hostname":"ec2-3-248-4-172.eu-west-1.compute.amazonaws.com","port":"5432","db":"da4hgshrm5937f","ssl":true},{"id":"8df0a234.f54d4","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]